<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/statics/authorize.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body class="device_mobile_web device_phone device_web">
	<div id="container">
		<header>
			<div class="rainbowDash">
				<div class="green"></div>
				<div class="blue"></div>
				<div class="red"></div>
				<div class="orange"></div>
			</div>
			<div class="logo"></div>
		</header>
		<article>
			<section class="wrapper">
				<div class="content center">{{result|safe}}</div>
				<div class="block">
					<h3>使用帮助</h3>
					<div class="content">
						<ul class="step">
							<li>打开你需要保存的内容，可以是微信公众账号推送或者微信好友发来的文章或链接</li>
							<li>点击右上角的“...”或者“转发”按钮</li>
							<li>在弹出的窗口中点击“复制链接”</li>
							<li>返回消息列表，进入“我的Pocket”公众账号</li>
							<li>长按消息输入框粘贴链接发送给本账号</li>
							<li>保存成功！你可以稍后打开Pocket阅读了！</li>
						</ul>
					</div>
				</div>
			</section>
			<!--section id="problem"><a id="returnButton" href="" class="button full yellow">Return to App</a></section-->
		</article>
		<footer>
			<a href="mailto:devange@live.com">@devange</a>
		</footer>
	</div>
</body>
</html>