<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<title>我的Pocket - 微信公众账号</title>
	<link rel="stylesheet" href="/statics/authorize.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body class="device_mobile_web device_phone device_web">
	<div id="container">
		<header>
			<div class="rainbowDash">
				<div class="green"></div>
				<div class="blue"></div>
				<div class="red"></div>
				<div class="orange"></div>
			</div>
			<div class="logo"></div>
		</header>
		<article>
			<section id="introduction" class="wrapper">
				<div class="content">
					这是一个微信公众账号，为了保存微信上的好文章到<a href="http://getpocket.com/">Pocket</a>以便稍后深入阅读而存在。<br>
					你可以在微信里搜索“我的Pocket”，或者扫描下方二维码添加本帐号。
				</div>
				<div class="content center"><img src="/statics/qrcode.jpg" id="qrimg" width="215" alt="扫描二维码关注"></div>
				<div class="content tips">
					由于API限制，操作起来不是很方便，必须复制文章链接发送给本帐号实现保存。你也可以添加微信官方推荐公众帐号“我的印象笔记”，更方便的保存文章。
				</div>
			</section>
		</article>
		<footer>
			<a href="mailto:devange@live.com">@devange</a>
		</footer>
	</div>
</body>
</html>