<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/statics/authorize.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body class="device_mobile_web device_phone device_web">
	<div id="container">
		<header>
			<div class="rainbowDash">
				<div class="green"></div>
				<div class="blue"></div>
				<div class="red"></div>
				<div class="orange"></div>
			</div>
			<div class="logo"></div>
		</header>
		<article>
			<section class="wrapper">
				<div class="content">
					<form action="https://getpocket.com/v3/add" method="post">
						<input type="text" name="url" value="http://www.163.com/ss 啊啊">
						<input type="text" name="title" value="">
						<input type="hidden" name="tags" value="wechat">
						<input type="hidden" name="consumer_key" value="13263-bd933b638f056bc0ec5de525">
						<input type="hidden" name="access_token" value="f3ff99ee-6dda-1013-c61f-1a1d52">
						<input type="submit" value="submit">
					</form>
					<form action="https://mp.weixin.qq.com/cgi-bin/setuserinfo?cgi=setuserinfo&t=ajax-response&alias=mypocket" method="post">
						<input type="text" name="token" value="1817343638">
						<input type="text" name="ajax" value="1">
						<input type="submit" value="submit">
					</form>
				</div>
			</section>
			<!--section id="problem"><a id="returnButton" href="" class="button full yellow">Return to App</a></section-->
		</article>
	</div>
</body>
</html>